.main {
  padding: 32px;
  .inputUserName {
    margin-top: 12px;
  }
  .chatArea {
    width: 600px;
    height: 300px;
    border: 1px solid;
    overflow: auto;
    border-radius: 6px;
    margin-top: 32px;
    padding: 12px;
    .message {
      width: fit-content;
      padding: 8px;
      border-radius: 6px;
      &:not(:first-child) {
        margin-top: 8px;
      }
      &.my-message {
        background-color: #a3c1ff;
        margin-left: auto;
      }
      &.other-message {
        background-color: #ebd3ac;
      }
      .messageUserName {
        color: #0e0e16;
        font-weight: bold;
      }
      .messageText {
        margin-top: 8px;
      }
    }
  }
  .typingUserArea {
    margin-top: 8px;
    height: 40px;
  }
  .inputArea {
    margin-top: 32px;
    textarea {
      width: 400px;
      height: 80px;
    }
    button {
      margin-left: 16px;
      vertical-align: bottom;
    }
  }
}
